<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lele.onlinecontactresult">

    <application
        android:name=".UserParameter"
        android:allowBackup="true"
        android:icon="@drawable/OnlineContact_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/OnlineContact_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
</manifest>
